[Unit]
Description=Calculator3D Cloudflare Tunnel
After=calculator3d-frontend.service

[Container]
ContainerName=calculator3d-tunnel
Image=docker.io/cloudflare/cloudflared:latest
Exec=tunnel --no-autoupdate run
Network=calculator3d.network
Network=kumistudio.network
EnvironmentFile=__DEPLOY_PATH__/.env

[Service]
Restart=always
TimeoutStartSec=30

[Install]
WantedBy=default.target
